<div class="center">
  <h1>Welcome to the Insta Clone App</h1>

  <h2>
    This app for people who want to share your favorite pics! 
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>