<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <% if @user == current_user %>
          | <%= link_to "退会する", @user, method: :delete,
                                data: { confirm: "本当に退会してもよろしいでしょうか?" } %>
        <% end %>
      </h1>
    </section>
  </aside>
</div>